body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #222222;
    color: #ffffff;
}

p {
    margin: 0;
    padding: 0;
}

input {
    border-radius: 6px;
}

.main {
    width: 800px;
    margin: 0 auto;
    /* padding: 10px; */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #495b68;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #36454F;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: gray;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#center_content {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

/* ! Theres a chance you wont need col_label */
.col, .col_label {
    display: flex;
    flex-direction: column;
}

.row input {
    font-size: 16px;
    height: 30px;
    margin: 3px;
}

.numInput {
    width: 60px;
}

label {
    font-size: 14px;
    margin: 4px 2px;
}

#addRowBtn, #calcCurrentGrade, #reset {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin: 4px 3px;
}

#addRowBtn {
    width: 100%;
    height: 30px;

    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    background-color: #333333;
    transition: 0.1s ease-in;
}

#addRowBtn:hover {
    background-color: #4d4d4d;
}

#addRowBtn:active {
    background-color: #333333;
}

#calcCurrentGrade, #reset {
    padding: 6px;
    border-radius: 6px;
}

#calcCurrentGrade {
    color: rgb(0, 180, 0);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(0, 180, 0);
    transition: 0.1s ease-in;
}

#calcCurrentGrade:hover {
    color: white;
    background-color: rgb(0, 180, 0);
}

#calcCurrentGrade:active {
    background-color: rgb(0, 150, 0);
    border: 2px solid rgb(0, 150, 0);
}

#reset {
    color: rgb(255, 30, 30);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 30, 30);
    transition: 0.1s ease-in;
}

#reset:hover {
    color: white;
    background-color: rgb(255, 30, 30);
}

#reset:active {
    background-color: rgb(220, 0, 0);
    border: 2px solid rgb(220, 0, 0);
}

.s1 {
    align-items: center;
}

.s1s1, .s1s2 {
    width: 358px;
}

#optional, .s1s2 .row {
    align-items: center;
    justify-content: space-between;
}

#optional label, output {
    font-size: 16px;
}

.highlight_num { 
    color: rgb(60, 170, 253);
}


/* Mobile Screens */
@media (max-width: 768px) {
    .main {
        width: 400px;
    }
}